html {
    font-family: 'poppins';
    background-color: rgb(54, 163, 229);
    color: rgb(242, 242, 242);
}
div img {

    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}
img:hover {
    transform: scale(1.2);
}
header {
    text-align: right;
    font-size: 22px;
    margin: 1em;
    padding: 30px;
    background-color: rgb(242, 242, 242); 
    color: rgb(54, 163, 229);
}
a {
    text-decoration: none;
    color: rgb(54, 163, 229);
    margin-right: 30px;
}
main {
        text-align: right;
    font-size: 22px;
    margin: 1em;
    padding: 30px;
    background-color: rgb(242, 242, 242); 
    color: rgb(54, 163, 229);
}
footer {
    text-align: right;
    font-size: 22px;
    margin: 1em;
    padding: 30px;
    background-color: rgb(242, 242, 242); 
    color: rgb(54, 163, 229);
}
.container {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
