html {
    font-family: 'poppins';
    background-color: rgb(54, 163, 229);
    color: rgb(242, 242, 242);
}
header {
    text-align: right;
    font-size: 22px;
    margin: 1em;
    padding: 30px;
    background-color: rgb(242, 242, 242); 
    color: rgb(54, 163, 229);
}
img {
    border-radius: 10px;
}
a {
    margin-right: 30px;
    text-decoration: none;
    color: rgb(54, 163, 229);
}
footer {
    text-align: center;
    font-size: 22px;
    margin: 1em;
    padding: 30px;
    background-color: rgb(242, 242, 242); 
    color: rgb(54, 163, 229);
}
div img {

    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}
img:hover {
    transform: scale(1.2);
}
.img1{
    width: 350px;
    height: auto;
}
.img2 {
    width: 650px;
    height: auto;
    
}

main{
    margin: 1em;
    font-size: 22px;
    padding: 30px;
    background-color: rgb(242, 242, 242); 
    color: rgb(54, 163, 229);
    text-align: center;
}

.imgP {
    width: auto;
    height: 300px;
}

.imgV {
    width: 350px;
}

.imgX {
    width: 350px;
    height: 300px;
}
